@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  h2 {
    font-size: 4vh !important;
  }

  .emoji {
    width: 5vh !important;
  }

  h3 {
    font-size: 3vh !important;
  }

  h4 {
    font-size: 2.5vh !important;
  }

  p,
  li {
    font-size: 2.2vh !important;
  }

  .card {
    padding: 3vh !important;
  }
}

:root {
  --background: #000;
  --text-color: #fff;
  --dark-text: rgba(255, 255, 255, 0.40);
  --card-bg: #1b1b1b;
}

.dark-text {
  color: var(--dark-text);
}

body {
  /* background: url('/noise.webp'), var(--background); */
  background: radial-gradient(circle, #1f1f1f, #000);
  color: var(--text-color);
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

*::selection {
  background: var(--text-color);
  color: var(--background);
}

h2 {
  color: var(--text-color);
  font-size: 2.3vw;
  font-weight: 700;
  line-height: normal;
}

.emoji {
  width: 2.3vw;
}

h3 {
  color: var(--text-color);
  font-size: 1.5vw;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: var(--dark-text);
  font-size: 1.3vw;
  font-weight: 400;
  line-height: normal;
}

a {
  border-bottom: 1px var(--dark-text) solid;
  transition: all .1s linear;
}

a:hover {
  color: var(--text-color);
  border-bottom: 1px var(--text-color) solid;
}

p,
li {
  color: var(--text-color);
  font-size: 1.1vw;
  font-weight: 400;
  line-height: normal;
}

.my-image {
  border-radius: 44px;
  box-shadow: 0px 0px 234.5px 8px rgba(138, 75, 255, 0.587);
}

.nav p {
  text-wrap: nowrap;
  text-align: center;
  color: var(--dark-text);
  font-size: 1.5vw;
  font-weight: 400;
}

.card {
  padding: 2vw;
  background-color: var(--card-bg);
  border-radius: 25px;
}

.card ul {
  list-style: disc;
  list-style-position: inside;
}

.card ul li,
p {
  line-height: 155%;
}

.card ul li {
  margin-bottom: 10px;
}